<!-- login.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> Login </title>
   <link rel="stylesheet" href="/css/style.css">
 </head>

 <body>
    <h2> Login </h2>
  <form action="/api/login" method="post"> 
      <label for="username">Username:</label>
     <input type="text" id="username" name="username" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <button type="submit">Login</button>
</form>
<p id="login-feedback" style="color: red;"></p>

 <!-- Feedback message for login result -->
{{#if loginError}}
    <p style="color: red;">{{loginError}}</p>
    {{/if}}

    {{#if registrationSuccess}}
    <p style="color: green;">{{registrationSuccess}}</p>
    {{/if}}

    <p>Don't have an account? <a href="/registration">Register here</a></p> <!-- Link to registration page -->
 </body>

<script src="/js/login.js"></script>
</html>
