 <h2> Signup </h2>
  <form id ="sign-up-form">
      <label for="email-adress">Email-adress:</label>
     <input type="text" id="email-adress" name="email-adress" required>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <button type="submit">Signup</button>
</form>